<div class="col-md-4">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="thumbnail" style="height:auto; padding:10px">
          <h3>Project: {{ commit.repo }}</h3>
      </div>
    </div>
  </div>
</div>
<div class="col-md-8">
  <div class="row">
    <div class="col-sm-6 col-md-12" ng-repeat="commit in commit.commits | orderBy:'-commit.committer.date'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <p><a ng-if="commit.author.avatar_url" ng-href="{{ commit.author.html_url }}" target="_blank" title="{{ commit.commit.author.name }}"><img class="pull-right" ng-src="{{ commit.author.avatar_url }}" alt="{{ commit.commit.author.name }}"/></a> <strong>{{ commit.commit.message }} </strong>
          </p>
          <span class="small">by {{ commit.commit.author.name }} {{ commit.commit.committer.date | date: 'medium' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
